<!DOCTYPE HTML>

<html>

<head>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<title>About</title>
</head>



<body>
<div class="main-content">
    {{>header}}

    <br>
    <marquee>
        <font size="10" color="red"> <b> Kracher stinkt</b>
            <marquee></marquee>
    </marquee>

    <br>

    <img class="portrait" src="/img/corona.png">

    
</div>
    {{>footer}}

</body>



</html>