<!DOCTYPE HTML>

<html>

<head>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<title>About</title>
</head>



<body>
<div class="main-content">
    {{>header}}

    <p>Diese Wetterapp nutzt Darksky und Mapbox zur Anzeige von Wetterdaten</p>

    <br>


    <br>

    <img class="portrait" src="/img/corona.png">

    
</div>
    {{>footer}}

</body>



</html>